{% extends 'application/main.html' %}

{% block content %}

<div class="items-end justify-self-end mr-5 flex">

<a class="w-fit h-fit bg-red-800 hover:scale-105 duration-300 delay-200 ease-in-out rounded-3xl p-2 top-3 right-3" href={% url 'edit_deck'  %}><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class=" size-5">
  <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
</svg>
</a>

</div>
<div>

<div class="p-3 ml-3  max-w-50  relative bg-zinc-800 border-2 border-zinc-500 rounded-2xl hover:scale-105 transition-all duration-400 ease-in-out group flex">
<p class="truncate pr-17 mb-1 text-2xl cursor-default">{{deck.name}}</p>

<div class="flex gap-1 group transition-all duration-400 ease-in-out">

<div class="flex absolute top-3 right-12 w-fit p-1 translate-y-2 opacity-0 group-hover:delay-150 bg-green-800 rounded-md  group-hover:translate-y-0 group-hover:transition transition-all ease-in-out group-hover:opacity-100">
<a  href="{% url 'add_card' deck.id %}">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
</svg>
</a>
</div>

<div class="flex absolute top-3 right-2 w-fit p-1 translate-y-2 opacity-0  bg-cyan-800 rounded-md group-hover: group-hover:translate-y-0 group-hover:transition transition-all ease-in-out  group-hover:delay-75 group-hover:opacity-100">
<a  href="{% url 'update_deck_info' deck.id %}">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
</svg>
</a>
</div>

</div>

</div>

{% if deck.card_set.all %}

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-6 p-6 relative">

{%for i in deck.card_set.all%}

<div>
<div class="p-3 relative bg-zinc-900 border border-zinc-600 rounded-2xl hover:scale-105 transition-all duration-400 ease-in-out group flex">
<p class="truncate pr-17 mb-1 text-2xl cursor-default">{{i.question}}</p>
<div class="flex gap-1 transition-all duration-400 ease-in-out">
<form action="" method="POST">{% csrf_token %}<button class="top-3 right-2 absolute translate-y-2 cursor-pointer bg-red-800 opacity-0 transition-all ease-in-out group-hover:delay-75  rounded-md p-1 group-hover:transition group-hover:translate-y-0 group-hover:opacity-100" name='submit' value={{i.id}} type='submit'><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
</svg>
</button></form>
<div class="flex absolute top-3 right-12 w-fit p-1 translate-y-2 opacity-0  bg-cyan-800 rounded-md group-hover:translate-y-0 group-hover:transition transition-all ease-in-out  group-hover:delay-150 group-hover:opacity-100">
<a  href="{% url 'update_card' deck.id i.id %}">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
</svg>
</a>
</div>
</div>
</div>
</div>
{% endfor %} 
{% endif %}

</div>

{% endblock %}
